version: '2'

services:
    web-node-js:
        image: atisak/demo-nodejs:latest
        ports:
            - "3000:3000"
        environment:
            - MONGODB_ADDON_URI=mongodb://mongodb:27017/test
    mongodb:
        image: mongo:latest
        ports: 
            - "27017:27017"
        